<p>Hi, <%= @user.name %></p><br>

<p>Your access has been removed for school: <strong><%= @school.name %></strong></p>
<p>Go to School App dashboard to check more details.</p>

<br>
<p>Thanks and have a great day!</p>