<p>Dear, <%= @user.name %></p><br>
<h1>Welcome to School App</h1>
<p>
  Click <a href="<%= @reset_password_url %>">here</a> to reset your password and then <a href="<%= @login_url %>">login</a>
</p>
<p>Thanks and have a great day!</p>